version: 2
updates:
  - package-ecosystem: devcontainers
    directories:
      - "**/*"
    schedule:
      interval: monthly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
