name: Dev Container Build and Push Image

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  NAMESPACE: ${{ github.repository_owner }}/${{ github.repository }}

jobs:
  csce-gcc-build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pre-build CSCE GCC dev container image
        uses: devcontainers/ci@v0.2
        with:
          subFolder: csce-gcc
          imageName: ${{ env.REGISTRY }}/${{ env.NAMESPACE }}/csce-gcc
          cacheFrom: ${{ env.REGISTRY }}/${{ env.NAMESPACE }}/csce-gcc
          push: always
